<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Cool Latin Traveler</title>
	<link rel="icon" href="../static/imgs/logo.png">
	<link rel="stylesheet" href="../static/css/styles.css">
	<link rel="stylesheet" href="../static/css/reset.css">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
	<nav id="menu">
		<h1>Cool Latin Traveler</h1>
		<ul>
			<a href=""><li style="color: grey;">Inicio</li></a>
			<a href=""><li>¿Cómo funciona?</li></a>
		</ul>
	</nav>
	
    <section id="content">
        <div class="image-result"><img id="grapImage" src="{{img}}"></div>
    </section>
    <script>
        function getimg(){
        $.ajax({
            type: 'GET',
            cache: false,
            url: "{{url_for('get_img')}}", 
            success: function(resp){
                dt = new Date();
                $('#grapImage').attr('src', resp.img);
                console.log(resp.img);
            }
        }); 
        }
    
        $(document).ready(function(){
            setInterval(getimg, 3000);
        });       
    </script>
</body>
</html>